html{
    background: rgb(167 230 227);
}
.game{
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-around;
align-items: center;
}

.p1Board{
    display: flex;
}

.p2Board{
    display: flex;
}

.boardAndMsg{
    height: inherit;
    display: flex;
    flex-direction: column;
}
.boardGrid{
    height: 100%;
}

